.why {
  text-align: center;
  background: var(--gray);
  padding: 5rem 0;

  .copy {
    margin-bottom: 4rem;
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  &__item {
    .copy {
      margin-bottom: 2rem;
      font-size: 0.9rem;
    }
    img {
      margin-bottom: 1.5rem;
    }
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    &__grid {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 1024px) {
    text-align: left;
    &__grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
