.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 0rem;
  width: 100%;
  background: var(--white);
  z-index: 3;
}
.header__logo {
  align-self: center;
}
.header .button {
  display: none;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .header .button {
    display: inline;
  }
  .header__content {
    display: flex;
    justify-content: space-between;
  }
}

.hero {
  text-align: center;
  margin-bottom: 5rem;
}
.hero .copy {
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
}
.hero__image {
  height: 300px;
  background: url("../images/image-mockups.png") center bottom no-repeat, url("../images/bg-intro-mobile.svg") center no-repeat;
  background-size: 345px, cover;
  margin: 0 calc(-1 * var(--wrapperSpace));
  margin-bottom: 1.2rem;
}
.hero__imageSrc {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero {
    text-align: left;
    background: url("../images/bg-intro-desktop.svg") left 650px top -290px no-repeat;
    background-size: cover;
    min-height: 550px;
    box-sizing: border-box;
  }
  .hero__imageSrc {
    display: block;
    width: 600px;
  }
  .hero__content {
    position: relative;
    display: grid;
    grid-template-areas: "description image";
    grid-template-columns: 370px 1fr;
    align-items: center;
    min-height: 550px;
  }
  .hero__image {
    grid-area: image;
    min-height: inherit;
    position: absolute;
    width: 500px;
    left: 0;
    top: 0;
    height: 768px;
    background: url("../images/image-mockups.png") left bottom no-repeat;
    background-size: cover;
    background: none;
  }
}
@media screen and (min-width: 1024px) {
  .hero__imageSrc {
    display: block;
    position: relative;
    top: -150px;
    z-index: 1;
    width: auto;
  }
  .hero__image {
    background: none;
    left: 150px;
    right: 0;
    top: 0;
  }
}

.menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__button {
  width: 50px;
  height: 50px;
  background: url(../images/icon-hamburger.svg) center no-repeat;
}
.menu a {
  text-decoration: none;
  color: var(--gray-blue);
  padding: 0 1rem;
}
.menu .button {
  display: block;
}
.menu__item {
  display: flex;
  align-items: center;
}
.menu__checkbox {
  display: none;
}
.menu__checkbox:checked ~ .menu__button {
  background: url(../images/icon-close.svg) no-repeat center;
}
.menu__checkbox:checked ~ .menu {
  display: block;
  position: absolute;
  top: 100%;
  padding: 1rem;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, var(--dark-blue) 0%, transparent 90%);
}
.menu__checkbox:checked ~ .menu .menu__item {
  position: relative;
  z-index: 1;
}
.menu__checkbox:checked ~ .menu .menu__item:first-child a {
  padding-top: 2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.menu__checkbox:checked ~ .menu .menu__item:last-child a {
  padding-bottom: 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.menu__checkbox:checked ~ .menu a {
  padding: 0.8rem 1rem;
  color: var(--dark-blue);
  font-size: 1.2rem;
  display: block;
  text-align: center;
  background: var(--white);
  flex: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
  }
  .menu__button {
    display: none;
  }
}

.why {
  text-align: center;
  background: var(--gray);
  padding: 5rem 0;
}
.why .copy {
  margin-bottom: 4rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
.why__item .copy {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}
.why__item img {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .why {
    text-align: left;
  }
  .why__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.last-article {
  background: var(--light-gray);
  text-align: center;
  margin-bottom: 2rem;
}
.last-article .title__h1 {
  margin-bottom: 2rem;
}
.last-article__grid {
  display: grid;
  grid-row-gap: 2rem;
}
.last-article__item {
  background: var(--white);
  overflow: hidden;
  border-radius: 0.5rem;
}
.last-article__item-content {
  padding: 1.8rem;
}
.last-article__item-content small {
  color: var(--gray-blue);
}
.last-article__item-content .copy {
  color: var(--gray-blue);
}
.last-article__item img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .last-article .title__h1 {
    text-align: left;
  }
  .last-article__item__content {
    padding: 1rem;
  }
  .last-article__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .last-article__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.footer {
  background: var(--dark-blue);
  color: var(--white);
  padding: 2rem 0 0 0;
  text-align: center;
  margin: 0;
  width: 100%;
}
.footer__logo {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}
.footer__link {
  display: block;
  color: var(--gray);
  margin-bottom: 2rem;
  text-decoration: none;
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(5, 25px);
  justify-content: center;
  grid-column-gap: 1rem;
  margin: 2.5em 0;
}
.footer__copyright {
  margin-top: 2.5rem;
  color: var(--gray-blue);
}
.footer__copyright-author {
  color: var(--gray-blue);
  padding-bottom: 1.5rem;
  margin: 0;
  font-size: 0.8rem;
}
.footer__copyright-author a {
  text-decoration: none;
  color: var(--light-gray);
  margin-top: -2rem;
}
@media screen and (min-width: 1024px) {
  .footer .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    gap: 0 8rem;
    grid-template-areas: "logo links button" "social links copyright";
    box-sizing: border-box;
  }
  .footer__links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: flex-start;
  }
  .footer__social {
    grid-area: social;
  }
  .footer__logo {
    grid-area: logo;
    margin: initial;
  }
  .footer__button {
    grid-area: button;
    text-align: right;
  }
  .footer__copyright {
    grid-area: copyright;
    text-align: right;
  }
  .footer__copyright-author {
    text-align: center;
  }
  .footer__link {
    justify-self: center;
    align-self: center;
  }
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --gray-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
  --wrapperSpace: 1.5rem;
}

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--grayish-blue);
}

.wrapper {
  padding: 0 var(--wrapperSpace);
  max-width: calc(1115px + 1.5rem);
  margin: auto;
  width: 100%;
}

.title__h1 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}
.title__h2 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-size: 1.5rem;
}
.title__h3 {
  font-size: 2.5rem;
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.3;
  font-size: 1rem;
}

.button {
  padding: 0.8rem 2rem;
  background-image: linear-gradient(to right, var(--lime-green) 0%, var(--bright-cyan) 100%);
  border-radius: 3rem;
  border: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
}

.icon__facebook {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url(../images/icon-facebook.svg) no-repeat;
}
.icon__youtube {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url(../images/icon-youtube.svg) no-repeat;
}
.icon__twitter {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url(../images/icon-twitter.svg) no-repeat;
}
.icon__pinterest {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url(../images/icon-pinterest.svg) no-repeat;
}
.icon__instagram {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background: url(../images/icon-instagram.svg) no-repeat;
}

/*# sourceMappingURL=style.css.map */
